<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Sys Admin Heaven Background Service" Language="1033" Version="1.0.0.0" Manufacturer="Sys Hv Team" UpgradeCode="198f89a3-c4ed-4a10-abff-86bba4e425c5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <UIRef Id="WixUI_InstallDir"/>

    <WixVariable Id="WixUILicenseRtf" Value=".\Visuals\License.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Feature Id="ProductFeature" Title="SysHv.WinClient.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <CustomAction Id="InstallService"
                  Directory="INSTALLFOLDER"
                  ExeCommand="[SystemFolder]cmd.exe /C SysHv.Client.WinService.exe install start"
                  Return="ignore"/>

    <CustomAction Id="UninstallService"
                  Directory="INSTALLFOLDER"
                  ExeCommand="[SystemFolder]cmd.exe /C SysHv.Client.WinService.exe stop uninstall"
                  Execute="immediate"/>

    <InstallExecuteSequence>
      <Custom Action="InstallService" After="InstallFinalize" >
        NOT Installed AND NOT REMOVE
      </Custom>

      <Custom Action="UninstallService" Before="InstallInitialize">
        (NOT UPGRADINGPRODUCTCODE) AND REMOVE
      </Custom>
    </InstallExecuteSequence>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--<Directory Id="ProgramFilesFolder">-->
      <Directory Id="INSTALLFOLDER" Name="Sys Admin Heaven Background Service" />
    </Directory>
    <!--</Directory>-->


  </Fragment>


  <!--<Fragment>
    <ComponentGroup Id="Purge" Directory="INSTALLFOLDER">
      <Component Id="PurgeFiles" Guid="09D404A5-E63B-4060-B3ED-52A2E2A8AF1D">
        <RemoveFile Id="Service" Name="*.*" On="uninstall"/>
      </Component>
    </ComponentGroup>
  </Fragment>-->

</Wix>
