<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
   
    <!--<add key="Host" value="localhost" />
    <add key="Username" value="guest" />
    <add key="Password" value="guest" />

    <add key="Id" value="1" />
    <add key="PasswordHash" value="AQAAAAEAACcQAAAAEHUnYHC9gcmIGV/EBR3pQ40eASy5OImqWCni4hmAmNCDORHpKJOUUTvb960IiShEqA==" />
    <add key="Email" value="123" />

    <add key="ServerAddress" value="https://localhost:44352" />-->

    <add key="Host" value="localhost" />
    <add key="Username" value="guest" />
    <add key="Password" value="guest" />

    <add key="Id" value="3" />
    <add key="PasswordHash" value="AQAAAAEAACcQAAAAEOLn/lV7OHzHwaye3G/gPZtxNOt0h7i8VgnyrSVruuYeWMr3LjmRfmQHAR411DZDsg==" />
    <add key="Email" value="vasya@gmail.com" />

    <add key="ServerAddress" value="https://localhost:44352" />

    <!--<add key="Host" value="52.136.254.224" />
    <add key="Username" value="vasya" />
    <add key="Password" value="123456" />

    <add key="Id" value="1" />
    <add key="PasswordHash" value="AQAAAAEAACcQAAAAEH0NUW2AgUYmOvM29A1DGelnO9Bq+AJ+4YhZa0pz/3M4xupuSm5RHhTsWR7ePzvQTA==" />
    <add key="Email" value="123" />

    <add key="ServerAddress" value="http://syshv.westeurope.cloudapp.azure.com" />-->

    <add key="ReconnectionInterval" value="5000" />

    <add key="SensorExtensionsPath" value="C:\Program Files\SysHv\Sensors" />
  </appSettings>
</configuration>