<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Host" value="178.127.227.56" />
    <add key="Username" value="vasya" />
    <add key="Password" value="123456" />
  </appSettings>
</configuration>